<!DOCTYPE html>
<html lang="zh-CN" id="ne_wrap" class="ua-win">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="renderer" content="ie-stand">
<link rel="Bookmark" href="/favicon1.ico" >
<link rel="Shortcut Icon" href="/favicon1.ico" />
<title>解读信息时代的商业、技术和生活</title>
<script type="text/javascript" src="http://img.fjii.com/w/js/client_side.js"></script>
<link rel="stylesheet" href="http://img.fjii.com/w/templates/lang/css/default.css?v=3">
<script type="text/javascript" src="http://img.fjii.com/w/templates/lang/js/jquery.min.js"></script>
</head>
<body style="background-color: #fafafa">
  <!-- 头部 开始 -->
  <div class="header">
    <div class="header-common warp">
        <div class="sub-nav pull-right" style="overflow: hidden;height: 56px;">
<div style="margin-top:5px;;">
<script type="text/javascript">(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=14010957482775650959' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script>
</div>                      
            <div class="search-box pull-left">
                <input type="text" class="search-t" name="wd" placeholder="搜索">
                <input type="button" class="search-btn FontAwesome" value="">
            </div>
            <div class="auth-user-info pull-left"><a href="javascript:void(0)" class="js-login">登录</a><span class="split-icon"></span><a class="js-register" href="javascript:void(0)">注册</a></div>
        </div>
        <!-- 头部导航 开始 -->
        <ul id="nav" class="header-menu">
                        <li data-catid=0 class="nav-news  active"><a href="http://localhost:8090/weibo">首页</a></li>
                            <li data-catid=2 class="nav-news ">
                                            <a href="http://localhost:8090/hotpoint" target="_blank">热点</a>
                       
                </li>
                            <li data-catid=9 class="nav-news ">
                                            <ul class="menu-column">
                                                     <li data-catid=74 ><a href="http://www.fjii.com/kj/jsc/" target="_blank" class="transition ">技术潮</a></li>
                                                     <li data-catid=75 ><a href="http://www.fjii.com/kj/zx/" target="_blank" class="transition ">智享+</a></li>
                                                     <li data-catid=76 ><a href="http://www.fjii.com/kj/kwg/" target="_blank" class="transition ">酷玩馆</a></li>
                                                     <li data-catid=141 ><a href="http://www.fjii.com/kj/chain/" target="_blank" class="transition ">区块链</a></li>
                                                </ul>
                        <a href="http://www.fjii.com/kj/" target="_blank">学习<i class="caret"></i></a>
                       
                </li>
                            <li data-catid=7 class="nav-news ">
                                            <ul class="menu-column">
                                                     <li data-catid=67 ><a href="http://www.fjii.com/cj/ssjj/" target="_blank" class="transition ">数说经济</a></li>
                                                     <li data-catid=68 ><a href="http://www.fjii.com/cj/gssl/" target="_blank" class="transition ">股市声雷</a></li>
                                                     <li data-catid=69 ><a href="http://www.fjii.com/cj/dcdg/" target="_blank" class="transition ">地产大观</a></li>
                                                </ul>
                        <a href="http://www.fjii.com/cj/" target="_blank">简书<i class="caret"></i></a>
                       
                </li>
                            <li data-catid=6 class="nav-news ">
                                            <ul class="menu-column">
                                                     <li data-catid=64 ><a href="http://www.fjii.com/gd/sp/" target="_blank" class="transition ">时评</a></li>
                                                     <li data-catid=65 ><a href="http://www.fjii.com/gd/sxc/" target="_blank" class="transition ">舆情</a></li>
                                                     <li data-catid=66 ><a href="http://www.fjii.com/gd/dks/" target="_blank" class="transition ">大咖说</a></li>
                                                </ul>
                        <a href="http://localhost:8090/microblog" target="_blank">微博<i class="caret"></i></a>
                       
                </li>
                            <li data-catid=11 class="nav-news ">
                                            <ul class="menu-column">
                                                     <li data-catid=82 ><a href="http://www.fjii.com/sh/cx/" target="_blank" class="transition ">车讯</a></li>
                                                     <li data-catid=83 ><a href="http://www.fjii.com/sh/lx/" target="_blank" class="transition ">旅行</a></li>
                                                     <li data-catid=84 ><a href="http://www.fjii.com/sh/jk/" target="_blank" class="transition ">健康</a></li>
                                                     <li data-catid=85 ><a href="http://www.fjii.com/sh/shzz/" target="_blank" class="transition ">生活主张</a></li>
                                                     <li data-catid=86 ><a href="http://www.fjii.com/sh/shyf/" target="_blank" class="transition ">诗和远方</a></li>
                                                </ul>
                        <a href="http://www.fjii.com/sh/" target="_blank">生活<i class="caret"></i></a>
                       
                </li>
                            <li data-catid=138 class="nav-news ">
                                            <a href="http://www.fjii.com/tj/" target="_blank">图记</a>
                       
                </li>
                        
        </ul>
        <!-- 头部导航 结束 -->
    </div>
</div>
<script>
if(typeof(catid)=="undefined"){ 
} else if (catid > 0) {
    $('#nav').find('li').each(function(i,dom){
        var cc = $(dom).data('catid');
        if (cc == 0) {
            current = dom;
        }
        if (cc == catid) {
            $(current).removeClass('active');
            $(dom).addClass('active');
        }
    });
}
</script>
  <!-- 头部 结束 -->
  <div class="indx_content warp">  
      <div class="u-width884 mt20 pull-left">
        <!-- 头图 开始 -->    
        <div class="main_lt">
            <div class="slideBox content-slider slid-house-1">
                <div class="hd">
                  <ul></ul>
                </div>
                <div class="bd">
                    <ul class="clearfix">
                    <li>
                        <div class="pdtt_lt"><a href="https://weibo.com/ttarticle/p/show?id=2309404361704115975201" target="_blank"><img src="../static/picture/鸡同鸭讲.jpg" alt="鸡同鸭讲！关于“996”的三个误区" width="550" height="360" /><div class="overlay"></div></a></div>
                        <div class="pdtt_rt">
                          <div class="pdtt_rtbd">
                            <h2><a href="http://www.fjii.com/jx/2019/0415/212547.shtml" target="_blank" title="鸡同鸭讲！关于“996”的三个误区">鸡同鸭讲！关于“996”的三个误区</a></h2>
                            <p>​​最近，996这个之前还没有人尽皆知的概念，如今已成了互联网上最热的话题之一。所谓“996”是一种每天从早9点工作到晚9点，每周工作6天时间的工作制度。...</p>
                            <div class="pdtt_trbs"><a href="#" target="_blank">新浪微博</a></div>
                          </div>
                        </div>
                      </li>
	                    <li>
                        <div class="pdtt_lt"><a href="https://weibo.com/ttarticle/p/show?id=2309351000184361756146307324" target="_blank"><img src="../static/picture/西安女士.jpg" alt="西安整治全市4S店，女车主一次维权竟要揭开行业黑幕" width="550" height="360" /><div class="overlay"></div></a></div>
                        <div class="pdtt_rt">
                          <div class="pdtt_rtbd">
                            <h2><a href="http://www.fjii.com/cj/ssjj/2019/0416/212674.shtml" target="_blank" title="西安整治全市4S店，女车主一次维权竟要揭开行业黑幕">西安整治全市4S店，女车主一次维权竟要揭开行业黑幕</a></h2>
                            <p>​​据人民日报 4月16日消息，西安市市场监管局下发通知，对全市4S店等汽车销售企业经营行为中存在的侵犯消费者权益行为及不正当竞争问题展开整治，包括限定购买指定车险、限定接受代上牌登记服务、限定办理指定金融贷款、限定接受汽车装饰服务等。</p>
                            <div class="pdtt_trbs"><span>新浪微博</span></div>
                          </div>
                        </div>
                      </li>
	                    <li>
                        <div class="pdtt_lt"><a href="https://weibo.com/ttarticle/p/show?id=2309404361746839140606" target="_blank"><img src="../static/picture/巴黎圣母院大火.jpg" alt="新京报评论|巴黎圣母院大火：理解“无感”，但别叫好" width="550" height="360" /><div class="overlay"></div></a></div>
                        <div class="pdtt_rt">
                          <div class="pdtt_rtbd">
                            <h2><a href="http://www.fjii.com/kj/jsc/2019/0416/212577.shtml" target="_blank" title="新京报评论|巴黎圣母院大火：理解“无感”，但别叫好">新京报评论|巴黎圣母院大火：理解“无感”，但别叫好</a></h2>
                            <p>巴黎圣母院被烧毁——在这一重大的历史事件中，我们是旁观者，也是亲历者。我们以怎样的态度看待文明的陨落，也反映出我们自身的文明程度。所以，理解一部分人的痛心，允许一部分人的无感，但请别不合时宜地“叫好”。</p>
                            <div class="pdtt_trbs"><span>新浪微博</span></div>
                          </div>
                        </div>
                      </li>
	                    <li>
                        <div class="pdtt_lt"><a href="https://weibo.com/ttarticle/p/show?id=2309404363099346971961" target="_blank"><img src="../static/picture/王崯清.jpg" alt="一出好戏！我院学子王崯清《最强大脑》上演超级逆袭" width="550" height="360" /><div class="overlay"></div></a></div>
                        <div class="pdtt_rt">
                          <div class="pdtt_rtbd">
                            <h2><a href="https://weibo.com/ttarticle/p/show?id=2309404363099346971961" target="_blank" title="一出好戏！我院学子王崯清《最强大脑》上演超级逆袭">一出好戏！我院学子王崯清《最强大脑》上演超级逆袭</a></h2>
                            <p>2月15日晚,在江苏卫视《最强大脑之燃烧吧大脑》第二季节目中上演了一出逆袭好戏，石油与化学工程学院石油工程61601班王崯清同学与一众名校学子同场竞技，一路过关斩将,从初试排名100逐步逆袭至单项第4...</p>
                            <div class="pdtt_trbs"><span>工院官网</span></div>
                          </div>
                        </div>
                      </li>
	                    <li>
                        <div class="pdtt_lt"><a href="https://weibo.com/ttarticle/p/show?id=2309404363088265631081" target="_blank"><img src="../static/picture/复仇者联盟4.jpg" alt="《复仇者联盟4》后漫威宇宙重启，会有哪些新英雄加入？" width="550" height="360" /><div class="overlay"></div></a></div>
                        <div class="pdtt_rt">
                          <div class="pdtt_rtbd">
                            <h2><a href="https://weibo.com/ttarticle/p/show?id=2309404363088265631081" target="_blank" title="《复仇者联盟4》后漫威宇宙重启，会有哪些新英雄加入？">《复仇者联盟4》后漫威宇宙重启，会有哪些新英雄加入？</a></h2>
                            <p>《复仇者联盟4：终局之战》还有几天就要上映了，这次的终局之战，漫威用《复仇组联盟》系列和每个超级英雄的独立电影讲述了一个漫威宇宙的主线故事，十年布局，终成一战。这次的战斗结束后，我们将会和初代复仇者联盟的超级英雄们一一告别，而这代表着旧循环的结束，也代表着新事物的产生...</p>
                            <div class="pdtt_trbs"><span>新浪微博</span></div>
                          </div>
                        </div>
                      </li>
	                    <li>
                        <div class="pdtt_lt"><a href="https://weibo.com/ttarticle/p/show?id=2309404363190896089590" target="_blank"><img src="../static/picture/影视众筹.jpg" alt="影视众筹和影视版权投资的区别" width="550" height="360" /><div class="overlay"></div></a></div>
                        <div class="pdtt_rt">
                          <div class="pdtt_rtbd">
                            <h2><a href="https://weibo.com/ttarticle/p/show?id=2309404363190896089590" target="_blank" title="影视众筹和影视版权投资的区别">影视众筹和影视版权投资的区别</a></h2>
                            <p>​​在美国，影视剧投资行业充满了诱惑与冒险，影视产业销售总额甚至超过了任何一个单一的传统工业，其规模、影响和相关效益都是令人神往的...
               ——章苏阳。
</p>
                            <div class="pdtt_trbs"><span>新浪微博</span></div>
                          </div>
                        </div>
                      </li>
					  
</ul>
                </div>
                <a class="prev" href="javascript:void(0)"></a>
                <a class="next" href="javascript:void(0)"></a>
              </div>
        </div>
        <!-- 头图 结束 -->
       
        <!-- 列表 开始 -->
            <div class="list-main clearfix mt20">
                <!-- 左边列表 -->
                <div class="list-left">
                	   <div id="container" class="newsbox">
                	 		<div class="news_li animate" ids="adds" >
                              <div class="neselis">
                                <span class="mark pc_mark">荆州新闻网</span>
                                                                <div class=" news_tu">
                                    <a href="http://news.jznews.com.cn/system/2019/04/20/011960077.shtml" class="tiptitleImg" target="_blank" title="2019年湖北公务员考试开考 荆州考区7622人参加">
                                        <img src="../static/picture/湖北公务员.jpg" alt="2019年湖北公务员考试开考 荆州考区7622人参加">
                                        <span class="p_time"></span>
                                    </a>
                                </div>
                                                                <h2 ><a href="http://www.fjii.com/jx/2019/0419/213128.shtml" target="_blank">2019年湖北公务员考试开考 荆州考区7622人参加</a></h2>
                                <p>荆州新闻网消息(记者胡威虎 卢艳)湖北省2019年度考试录用公务员笔试荆州分考区考试于今天（4月20日）上午举行，8:30起，考生进场，上午9:00~11:00考行政职业能力测验，下午14:00~16:30考申论...</p>
                                <div class="pdtt_trbs">
                                    <a href="http://www.fjii.com/jx/2019/0419/213128.shtml" target="_blank">荆州新闻网</a>
                                    <span>20小时前</span>
                                </div>
                              </div>
                            </div>
                            <div class="news_li animate" ids="adds" >
                              <div class="neselis">
                                <span class="mark pc_mark">荆州新闻网</span>
                                                                <div class=" news_tu">
                                    <a href="http://news.jznews.com.cn/system/2019/04/20/011960083.shtml" class="tiptitleImg" target="_blank" title="海内外消化科大咖齐聚荆州 分享最新医学成果">
                                        <img src="../static/picture/海内外消化科.jpg" alt="海内外消化科大咖齐聚荆州 分享最新医学成果">
                                        <span class="p_time"></span>
                                    </a>
                                </div>
                                                                <h2 ><a href="http://www.fjii.com/jx/2019/0419/213128.shtml" target="_blank">海内外消化科大咖齐聚荆州 分享最新医学成果</a></h2>
                                <p>　荆州新闻网消息(记者 杨辉 通讯员 龚天佐)4月20日上午，湖北省医师协会消化医师分会2019年学术年会在荆州召开，首都医科大学附属北京中医医院教授张声生、美国约翰霍普金斯大学教授陈建德...</p>
                                <div class="pdtt_trbs">
                                    <a href="http://news.jznews.com.cn/system/2019/04/20/011960083.shtml" target="_blank">荆州新闻网</a>
                                    <span>20小时前</span>
                                </div>
                              </div>
                            </div>
                            <div class="news_li animate" ids="adds" >
                              <div class="neselis">
                                <span class="mark pc_mark">荆州新闻网</span>
                                                                <div class=" news_tu">
                                    <a href="http://www.jznews.com.cn/web/2018changjiangdabaohu/" class="tiptitleImg" target="_blank" title="长江大保护，荆州有担当">
                                        <img src="../static/picture/荆州.jpg" alt="长江大保护，荆州有担当">
                                        <span class="p_time"></span>
                                    </a>
                                </div>
                                                                <h2 ><a href="http://www.jznews.com.cn/web/2018changjiangdabaohu/" target="_blank">长江大保护，荆州有担当</a></h2>
                                <p>　荆州新闻网消息：习近平总书记在视察长江大保护工作时说：“推动长江经济带发展必须从中华民族长远利益考虑，走生态优先、绿色发展之路，使绿水青山产生巨大生态效益、经济效益、社会效益，使母亲河永葆生机活力...</p>
                                <div class="pdtt_trbs">
                                    <a href="http://www.fjii.com/jx/2019/0419/213128.shtml" target="_blank">荆州新闻网</a>
                                    <span>20小时前</span>
                                </div>
                              </div>
                            </div>
                	 	</div>
                </div>
                <!-- 左边列表 -->
              </div>
       <!-- <!-- 加载中 -->
        <div id="infscr-loading" style="display: none;"><img alt="Loading..." src="http://img.fjii.com/w/templates/lang/images/loading.gif"><div>正在加载中...</div></div>
        <!-- 加载中 -->
        <!-- 列表 结束 -->
        <div class="loading_more" >浏览更多<span class="icon-arrow-right"></span></div>
      </div>
      <!-- 右边列表 开始 -->
      <div class="u-width286 mt20 pull-right">
    	    <!-- 广告2 开始 -->
        <div class="top_ad top_ad2">
<a href="https://mp.weixin.qq.com/s/e5rHQWRGSuIh2_dO-MrDdQ" target="_blank" title="与吾畅谈" rel="nofollow" >
<img src="../static/picture/wq.gif" alt="与吾畅谈" width="286" height="220">
</a>
</div>
	    <!-- 广告2 结束 -->
        
	    <!-- 24小时热闻 开始 -->
	    <!-- 24小时热闻 开始 -->
        <div class="widget-box widget-hot-article-box mt20">
          <div class="widget widget-hot-article">
              <h4>24小时热闻</h4>
              <div class="w_content ">
                  <a class="doc item-0 " href="http://www.fjii.com/jx/2019/0419/213245.shtml" title="证监会副主席：贸易战的民意基础从何而来？" target="_blank"><div class="index font1">1</div><div class="doc-title">贸易战的民意基础从何而来...</div></a>
                  <a class="doc item-0 " href="http://www.fjii.com/jx/2019/0419/213128.shtml" title="全国近20省市出新政 社会办医迎密集政策红利" target="_blank"><div class="index font2">2</div><div class="doc-title">新政社会办医迎密集政策...</div></a>
                  <a class="doc item-0 " href="http://www.fjii.com/jx/2019/0419/213252.shtml" title="上海市医疗保障局局长夏科家作客2019民生访谈" target="_blank"><div class="index font3">3</div><div class="doc-title">局长夏科家作客民生访谈...</div></a>
                  <a class="doc item-0 " href="http://www.fjii.com/jx/2019/0419/213250.shtml" title="预热半马 2019上海少儿迷你马拉松20日鸣枪起跑" target="_blank"><div class="index font4">4</div><div class="doc-title">上海少儿迷你马拉松鸣枪起跑...</div></a>
                  <a class="doc item-0 " href="http://www.fjii.com/jx/2019/0419/213258.shtml" title="老鹰悍将夜店冲突腿骨折<" target="_blank"><div class="index font5">5</div><div class="doc-title">老鹰悍将夜店冲突腿骨折...</div></a>
              </div>
          </div>
        </div>
        <!-- 24小时热闻 结束 -->
	    <!-- 24小时热闻 结束 -->
	    <!-- 广告2 开始 -->
        
	    <!-- 广告2 结束 -->
	    <!-- 热门图片 开始 -->
      </div>
</div>

  <!-- 返回顶部 结束 -->
  <script type="text/javascript" >var rember_publish = "1555488373"; </script>
  <script type="text/javascript" src="http://img.fjii.com/w/templates/lang/js/hxw_slide.js"></script>
  <script type="text/javascript" src="http://img.fjii.com/w/templates/lang/js/blocksit.min.js"></script>
  <script type="text/javascript" src="http://img.fjii.com/w/js/config.js"></script>
  <script type="text/javascript" src="http://img.fjii.com/w/templates/lang/js/jquery.cookie.js"></script>
<!--<script type="text/javascript" src="http://img.fjii.com/w/templates/lang/js/index.js?v=3"></script>-->
<script type="text/javascript" src="../lib/index3.js"></script>

</body>
</html>